
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="9 Soft" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="HTML5 Template Crizal" />
    <meta name="description" content="Crizal - Multipurpose Responsive + Admin" />

    <!-- title  -->
    <title>Crizal - Multipurpose Responsive + Admin</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="~/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="~/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    <link rel="stylesheet" href="~/css/plugins.css" />

    <!-- revolution slider css -->
    <link rel="stylesheet" href="~/css/rev_slider/settings.css">
    <link rel="stylesheet" href="~/css/rev_slider/layers.css">
    <link rel="stylesheet" href="~/css/rev_slider/navigation.css">

    <!-- switcher css -->
    <link href="~/css/switcher.css" rel="stylesheet">

    <!-- search css -->
    <link rel="stylesheet" href="~/search/search.css" />

    <!-- quform css -->
    <link rel="stylesheet" href="~/quform/css/base.css">

    <!-- custom css -->
    <link href="~/css/styles.css" rel="stylesheet" id="colors">

</head>

<body>

    <!-- start page loading -->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- end page loading -->
    <!-- start main-wrapper section -->
    <div class="main-wrapper">

        <!-- start header section -->
        <header class="header-style2">
            <div class="navbar-default">

                <!-- start top search -->
                <div class="top-search bg-theme">
                    <div class="container-fluid">
                        <form class="search-form" action="search.html" method="GET" accept-charset="utf-8">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search font-size18 text-white" type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                                <span class="input-group-addon close-search"><i class="fas fa-times font-size18 line-height-28 margin-5px-top"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light no-padding">

                                    <div class="navbar-header navbar-header-custom">
                                        <!-- start logo -->
                                        <a href="index.html" class="navbar-brand"><img id="logo" src="img/logos/logo-inner.png" alt="logo"></a>
                                        <!-- end logo -->
                                    </div>

                                    <div class="navbar-toggler"></div>

                                    <!-- menu area -->
                                    <ul class="navbar-nav ml-auto" id="nav" style="display: none;">
                                        <li>
                                            <a href="#!">Home</a>
                                            <ul>
                                                <li>
                                                    <a href="#!">Default Homes</a>
                                                    <ul>
                                                        <li><a href="home-1.html">Home 01</a></li>
                                                        <li><a href="home-2.html">Home 02</a></li>
                                                        <li><a href="home-3.html">Home 03</a></li>
                                                        <li><a href="home-4.html">Home 04</a></li>
                                                        <li><a href="home-5.html">Home 05</a></li>
                                                        <li><a href="home-6.html">Home 06</a></li>
                                                        <li><a href="home-7.html">Home 07</a></li>
                                                        <li><a href="home-8.html">Home 08</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#!">Creative Homes</a>
                                                    <ul>
                                                        <li><a href="home-9.html">Home 09</a></li>
                                                        <li><a href="home-10.html">Home 10</a></li>
                                                        <li><a href="home-11.html">Home 11</a></li>
                                                        <li><a href="home-12.html">Home 12</a></li>
                                                        <li><a href="home-13.html">Home 13</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#!">One Page Demos</a>
                                                    <ul>
                                                        <li><a href="one-page/agency/index.html" target="_blank">Agency</a></li>
                                                        <li><a href="one-page/business/index.html" target="_blank">Business</a></li>
                                                        <li><a href="one-page/consulting/index.html" target="_blank">Consulting</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="home-14.html">Home Shop</a></li>
                                                <li><a href="admin-template/index.html" target="_blank">Admin Dashboard</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#!">Pages</a>
                                            <ul>
                                                <li>
                                                    <a href="#!">About Us</a>
                                                    <ul>
                                                        <li><a href="about.html">About Us 01</a></li>
                                                        <li><a href="about-2.html">About Us 02</a></li>
                                                        <li><a href="about-3.html">About Us 03</a></li>
                                                        <li><a href="about-me.html">About Me</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#!">Our Team</a>
                                                    <ul>
                                                        <li><a href="team.html">Our Team 01</a></li>
                                                        <li><a href="team-2.html">Our Team 02</a></li>
                                                        <li><a href="team-3.html">Our Team 03</a></li>
                                                        <li><a href="team-4.html">Our Team 04</a></li>
                                                        <li><a href="team-5.html">Our Team 05</a></li>
                                                        <li><a href="team-6.html">Our Team 06</a></li>
                                                        <li><a href="team-7.html">Our Team 07</a></li>
                                                        <li><a href="team-8.html">Our Team 08</a></li>
                                                        <li><a href="team-single.html">Team Single</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#!">Services</a>
                                                    <ul>
                                                        <li><a href="services.html">Services 01</a></li>
                                                        <li><a href="services-2.html">Services 02</a></li>
                                                        <li><a href="services-3.html">Services 03</a></li>
                                                        <li><a href="services-4.html">Services 04</a></li>
                                                        <li><a href="cases.html">Cases</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#!">Service Detail</a>
                                                    <ul>
                                                        <li><a href="financial-planning.html">Financial Planning</a></li>
                                                        <li><a href="personal-insurance.html">Personal Insurance</a></li>
                                                        <li><a href="business-analysis.html">Business Analysis</a></li>
                                                        <li><a href="market-research.html">Market Research</a></li>
                                                        <li><a href="online-consulting.html">Online Consulting</a></li>
                                                        <li><a href="investment-planning.html">Investment Planning</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#!">Contact Us</a>
                                                    <ul>
                                                        <li><a href="contact.html">Contact Us 01</a></li>
                                                        <li><a href="contact-2.html">Contact Us 02</a></li>
                                                        <li><a href="contact-3.html">Contact Us 03</a></li>
                                                        <li><a href="contact-4.html">Contact Us 04</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#!">FAQ</a>
                                                    <ul>
                                                        <li><a href="faq.html">FAQ 01</a></li>
                                                        <li><a href="faq-2.html">FAQ 02</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#!">Additional Pages</a>
                                                    <ul>
                                                        <li><a href="career.html">Career</a></li>
                                                        <li><a href="login.html">Login</a></li>
                                                        <li><a href="registration.html">Registration</a></li>
                                                        <li><a href="forgot-password.html">Forgot Password</a></li>
                                                        <li><a href="404.html">Error 404</a></li>
                                                        <li><a href="maintenance.html">Maintenance</a></li>
                                                        <li><a href="comingsoon.html">Comingsoon</a></li>
                                                    </ul>
                                                </li>

                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#!">Features</a>
                                            <ul>
                                                <li>
                                                    <a href="#!">Headers</a>
                                                    <ul>
                                                        <li><a href="header-1.html">Header Style 1</a></li>
                                                        <li><a href="header-2.html">Header Style 2</a></li>
                                                        <li><a href="header-3.html">Header Style 3</a></li>
                                                        <li><a href="header-4.html">Header Style 4</a></li>
                                                        <li><a href="header-5.html">Header Style 5</a></li>
                                                        <li><a href="header-6.html">Header Style 6</a></li>
                                                        <li><a href="header-7.html">Header Style 7</a></li>
                                                        <li><a href="header-8.html">Header Style 8</a></li>
                                                        <li><a href="header-9.html">Header Style 9</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#!">Footers</a>
                                                    <ul>
                                                        <li><a href="footer-1.html">Footer Style 1</a></li>
                                                        <li><a href="footer-2.html">Footer Style 2</a></li>
                                                        <li><a href="footer-3.html">Footer Style 3</a></li>
                                                        <li><a href="footer-4.html">Footer Style 4</a></li>
                                                        <li><a href="footer-5.html">Footer Style 5</a></li>
                                                        <li><a href="footer-6.html">Footer Style 6</a></li>
                                                        <li><a href="footer-7.html">Footer Style 7</a></li>
                                                        <li><a href="footer-8.html">Footer Style 8</a></li>
                                                        <li><a href="footer-9.html">Footer Style 9</a></li>
                                                        <li><a href="footer-10.html">Footer Style 10</a></li>
                                                        <li><a href="footer-11.html">Footer Style 11</a></li>
                                                        <li><a href="footer-12.html">Footer Style 12</a></li>
                                                        <li><a href="footer-13.html">Footer Style 13</a></li>
                                                        <li><a href="footer-14.html">Footer Style 14</a></li>
                                                        <li><a href="footer-15.html">Footer Style 15</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#!">Page titles</a>
                                                    <ul>
                                                        <li><a href="page-title-1.html">Page Title 1</a></li>
                                                        <li><a href="page-title-2.html">Page Title 2</a></li>
                                                        <li><a href="page-title-3.html">Page Title 3</a></li>
                                                        <li><a href="page-title-4.html">Page Title 4</a></li>
                                                        <li><a href="page-title-5.html">Page Title 5</a></li>
                                                        <li><a href="page-title-6.html">Page Title 6</a></li>
                                                        <li><a href="page-title-7.html">Page Title 7</a></li>
                                                        <li><a href="page-title-8.html">Page Title 8</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#!">Revolution Sliders</a>
                                                    <ul>
                                                        <li><a href="rs-slider1.html">Revolution Slider 1</a></li>
                                                        <li><a href="rs-slider2.html">Revolution Slider 2</a></li>
                                                        <li><a href="rs-slider3.html">Revolution Slider 3</a></li>
                                                        <li><a href="rs-slider4.html">Revolution Slider 4</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#!">Owl Sliders</a>
                                                    <ul>
                                                        <li><a href="owl-slider1.html">Owl Slider 1</a></li>
                                                        <li><a href="owl-slider2.html">Owl Slider 2</a></li>
                                                        <li><a href="owl-slider3.html">Owl Slider 3</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#!">Creative Banners</a>
                                                    <ul>
                                                        <li><a href="creative-banner.html">Creative Banner 1</a></li>
                                                        <li><a href="creative-banner-2.html">Creative Banner 2</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#!">Shape Banners</a>
                                                    <ul>
                                                        <li><a href="shape-banner.html">Shape Banner 1</a></li>
                                                        <li><a href="shape-banner-2.html">Shape Banner 2</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="video-banner.html">Video Banner</a></li>
                                                <li><a href="parallax-banner.html">Parallax Banner</a></li>
                                                <li><a href="loading-bar-banner.html">Loading Bar Banner</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#!">Portfolio</a>
                                            <ul class="row megamenu">
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="margin-10px-bottom display-block sm-no-margin sm-padding-10px-tb sm-padding-30px-lr font-size13 text-uppercase sub-title">Full Width</span>
                                                    <ul>
                                                        <li><a href="portfolio-four-columns.html">Portfolio 4 Columns</a></li>
                                                        <li><a href="portfolio-three-columns.html">Portfolio 3 Columns</a></li>
                                                        <li><a href="portfolio-two-columns.html">Portfolio 2 Columns</a></li>
                                                        <li><a href="portfolio-with-icon-four-columns.html">Portfolio with icon 4 Columns</a></li>
                                                        <li><a href="portfolio-with-icon-three-columns.html">Portfolio with icon 3 Columns</a></li>
                                                        <li><a href="portfolio-with-icon-two-columns.html">Portfolio with icon 2 Columns</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="margin-10px-bottom display-block sm-no-margin sm-padding-10px-tb sm-padding-30px-lr font-size13 text-uppercase sub-title">Boxed Layout</span>
                                                    <ul>
                                                        <li><a href="portfolio-boxed-four-columns.html">Portfolio 4 Columns</a></li>
                                                        <li><a href="portfolio-boxed-three-columns.html">Portfolio 3 Columns</a></li>
                                                        <li><a href="portfolio-boxed-two-columns.html">Portfolio 2 Columns</a></li>
                                                        <li><a href="portfolio-boxed-with-icon-four-columns.html">Portfolio with icon 4 Columns</a></li>
                                                        <li><a href="portfolio-boxed-with-icon-three-columns.html">Portfolio with icon 3 Columns</a></li>
                                                        <li><a href="portfolio-boxed-with-icon-two-columns.html">Portfolio with icon 2 Columns</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="margin-10px-bottom display-block sm-no-margin sm-padding-10px-tb sm-padding-30px-lr font-size13 text-uppercase sub-title">Gallery Layout</span>
                                                    <ul>
                                                        <li><a href="projects-masonry-style-1.html">Masonry Style 01</a></li>
                                                        <li><a href="projects-masonry-style-2.html">Masonry Style 02</a></li>
                                                        <li><a href="projects-masonry-style-3.html">Masonry Style 03</a></li>
                                                        <li><a href="projects-masonry-style-4.html">Masonry Style 04</a></li>
                                                        <li><a href="image-gallery-style1.html">Image Gallery Style 01</a></li>
                                                        <li><a href="image-gallery-style2.html">Image Gallery Style 02</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="margin-10px-bottom display-block sm-no-margin sm-padding-10px-tb sm-padding-30px-lr font-size13 text-uppercase sub-title">Single Project</span>
                                                    <ul>
                                                        <li><a href="project-detail.html">Projects Detail 01</a></li>
                                                        <li><a href="project-detail-2.html">Projects Detail 02</a></li>
                                                        <li><a href="project-detail-3.html">Projects Detail 03</a></li>
                                                        <li><a href="project-detail-4.html">Projects Detail 04</a></li>

                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#!">Blog</a>
                                            <ul>
                                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                                <li><a href="blog-grid-classic.html">Blog Grid Classic</a></li>
                                                <li><a href="blog-grid-sidebar.html">Blog Grid Sidebar</a></li>
                                                <li><a href="blog-list.html">Blog List</a></li>
                                                <li><a href="blog-list-sidebar.html">Blog List Right Sidebar</a></li>
                                                <li><a href="blog-left-sidebar.html">Blog List Left Sidebar</a></li>
                                                <li><a href="blog-full-width.html">Blog Full Width</a></li>
                                                <li><a href="blog-post.html">Blog Post</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#!">Shop</a>
                                            <ul>
                                                <li><a href="shop-product-grid.html">Product Grid</a></li>
                                                <li><a href="shop-product-list.html">Product List</a></li>
                                                <li><a href="shop-product-full-three-coulmn.html">Product Three Coulmns</a></li>
                                                <li><a href="shop-product-full-four-coulmn.html">Product Four Coulmns</a></li>
                                                <li><a href="shop-product-detail.html">Product Detail</a></li>
                                                <li><a href="shop-cart.html">Shop Cart</a></li>
                                                <li><a href="shop-checkout.html">Shop Checkout</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#!">Elements</a>
                                            <ul class="row megamenu">
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="margin-10px-bottom display-block sm-no-margin sm-padding-10px-tb sm-padding-30px-lr font-size13 text-uppercase sub-title">Elements 01</span>
                                                    <ul>
                                                        <li><a href="accordions.html"><i class="fas fa-sliders-h margin-10px-right"></i>Accordions</a></li>
                                                        <li><a href="action-boxes.html"><i class="far fa-square margin-10px-right"></i>Action Boxes</a></li>
                                                        <li><a href="alerts.html"><i class="fas fa-bell margin-10px-right"></i>Alerts</a></li>
                                                        <li><a href="audio-video.html"><i class="fas fa-volume-up margin-10px-right"></i>Audio Video</a></li>
                                                        <li><a href="blockquote.html"><i class="fas fa-vector-square margin-10px-right"></i>Blockquote</a></li>
                                                        <li><a href="blog-content.html"><i class="fas fa-edit margin-10px-right"></i>Blog Content</a></li>
                                                        <li><a href="bootstrap-grid.html"><i class="fas fa-th margin-10px-right"></i>Bootstrap Grid</a></li>
                                                        <li><a href="buttons.html"><i class="fas fa-link margin-10px-right"></i>Buttons</a></li>
                                                        <li><a href="count-down.html"><i class="fas fa-flag margin-10px-right"></i>Count Down</a></li>
                                                        <li><a href="charts.html"><i class="fas fa-chart-pie margin-10px-right"></i>Charts</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="margin-10px-bottom display-block sm-no-margin sm-padding-10px-tb sm-padding-30px-lr font-size13 text-uppercase sub-title">Elements 02</span>
                                                    <ul>
                                                        <li><a href="countups.html"><i class="fas fa-compress margin-10px-right"></i>Countups</a></li>
                                                        <li><a href="dropcaps.html"><i class="fas fa-highlighter margin-10px-right"></i>Dropcaps</a></li>
                                                        <li><a href="dropdowns.html"><i class="far fa-caret-square-down margin-10px-right"></i>Dropdowns</a></li>
                                                        <li><a href="feature-boxes.html"><i class="fas fa-square-full margin-10px-right"></i>Feature Boxes</a></li>
                                                        <li><a href="feature-boxes-fancy.html"><i class="fas fa-pen-square margin-10px-right"></i>Feature Boxes Fancy</a></li>
                                                        <li><a href="forms.html"><i class="fab fa-wpforms margin-10px-right"></i>Forms</a></li>
                                                        <li><a href="google-map.html"><i class="fas fa-map-marker-alt margin-10px-right"></i>Google Map</a></li>
                                                        <li><a href="html5-video.html"><i class="fas fa-video margin-10px-right"></i>HTML5 Video</a></li>
                                                        <li><a href="icon-types.html"><i class="fab fa-envira margin-10px-right"></i>Icon Types</a></li>
                                                        <li><a href="image-slider.html"><i class="far fa-images margin-10px-right"></i>Image Slider</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="margin-10px-bottom display-block sm-no-margin sm-padding-10px-tb sm-padding-30px-lr font-size13 text-uppercase sub-title">Elements 03</span>
                                                    <ul>
                                                        <li><a href="lightbox.html"><i class="far fa-sun margin-10px-right"></i>Lightbox</a></li>
                                                        <li><a href="liststyles.html"><i class="fas fa-list-ul margin-10px-right"></i>List Styles</a></li>
                                                        <li><a href="media-object.html"><i class="fas fa-photo-video margin-10px-right"></i>Media Object</a></li>
                                                        <li><a href="pagetitles.html"><i class="fas fa-file-alt margin-10px-right"></i>Page titles</a></li>
                                                        <li><a href="partners.html"><i class="fas fa-handshake margin-10px-right"></i>Partners</a></li>
                                                        <li><a href="pricing-lists.html"><i class="fas fa-clipboard-list margin-10px-right"></i>Pricing Lists</a></li>
                                                        <li><a href="process.html"><i class="fas fa-expand margin-10px-right"></i>Process</a></li>
                                                        <li><a href="progress-bars.html"><i class="fas fa-tasks margin-10px-right"></i>Progress Bars</a></li>
                                                        <li><a href="project-elements.html"><i class="fas fa-project-diagram margin-10px-right"></i>Project Elements</a></li>
                                                        <li><a href="responsive-videos.html"><i class="fas fa-video margin-10px-right"></i>Responsive Popup Videos</a></li>
                                                    </ul>
                                                </li>
                                                <li class="col-lg-3 col-sm-12">
                                                    <span class="margin-10px-bottom display-block sm-no-margin sm-padding-10px-tb sm-padding-30px-lr font-size13 text-uppercase sub-title">Elements 04</span>
                                                    <ul>
                                                        <li><a href="social-icons.html"><i class="fas fa-share-square margin-10px-right"></i>Social Icons</a></li>
                                                        <li><a href="subscribe.html"><i class="fas fa-newspaper margin-10px-right"></i>Subscribe</a></li>
                                                        <li><a href="table.html"><i class="fas fa-server margin-10px-right"></i>Table</a></li>
                                                        <li><a href="tabs.html"><i class="fas fa-sliders-h margin-10px-right"></i>Tabs</a></li>
                                                        <li><a href="testmonials.html"><i class="fas fa-quote-left margin-10px-right"></i>Testmonials</a></li>
                                                        <li><a href="testmonials-2.html"><i class="fas fa-quote-right margin-10px-right"></i>Testmonials 2</a></li>
                                                        <li><a href="timeline.html"><i class="fas fa-clock margin-10px-right"></i>Timeline</a></li>
                                                        <li><a href="typography.html"><i class="fas fa-text-height margin-10px-right"></i>Typography</a></li>
                                                        <li><a href="vimeo-video.html"><i class="fab fa-vimeo margin-10px-right"></i>Vimeo Video</a></li>
                                                        <li><a href="youtube-video.html"><i class="fab fa-youtube margin-10px-right"></i>Youtube Video</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <!-- end menu area -->
                                    <!-- start attribute navigation -->
                                    <div class="attr-nav sm-no-margin sm-margin-70px-right xs-margin-65px-right">
                                        <ul>
                                            <li class="dropdown sm-margin-20px-right xs-margin-15px-right">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="fas fa-shopping-cart"></i>
                                                    <span class="badge bg-theme">3</span>
                                                </a>
                                                <ul class="dropdown-menu cart-list">
                                                    <li>
                                                        <a href="#!" class="photo"><img src="~/img/shop/cart-thumb01.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="#!">Sneakers Shoe </a></h6>
                                                        <p>2x - <span class="price">$99.99</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="photo"><img src="~/img/shop/cart-thumb02.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="#!">Digital Watch</a></h6>
                                                        <p>1x - <span class="price">$33.33</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="photo"><img src="~/img/shop/cart-thumb03.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="#!">Headphones</a></h6>
                                                        <p>2x - <span class="price">$99.99</span></p>
                                                    </li>
                                                    <li class="total bg-theme">
                                                        <span class="pull-left"><strong>Total</strong>: $233.31</span>
                                                        <a href="#!" class="butn small btn-cart white"><span>View Cart</span></a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="search"><a href="#!"><i class="fas fa-search"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- end attribute navigation -->

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>
        <!-- end header section -->

        @RenderBody()

        <!-- start footer section -->
        <footer class="bg-img background-size-contain" data-overlay-dark="9" data-background="../img/bg/bg1.jpg">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6 sm-margin-50px-bottom xs-margin-30px-bottom">
                        <div class="padding-30px-right border-right xs-border-bottom xs-no-border-right  border-color-light-white xs-padding-30px-bottom xs-no-padding-right height-100">
                            <h3 class="footer-title-style7 text-white">Quick Links</h3>
                            <ul class="footer-list">
                                <li>
                                    <span class="d-inline-block vertical-align-top font-size18"><i class="fas fa-map-marker-alt text-theme-color"></i></span>
                                    <span class="d-inline-block width-85 vertical-align-top padding-10px-left">74 Guild Street 542B, Great North.</span>
                                </li>
                                <li>
                                    <span class="d-inline-block vertical-align-top font-size18"><i class="fas fa-mobile-alt text-theme-color"></i></span>
                                    <span class="d-inline-block width-85 vertical-align-top padding-10px-left">(+92) 123 456 789</span>
                                </li>
                                <li>
                                    <span class="d-inline-block vertical-align-top font-size18"><i class="far fa-envelope text-theme-color"></i></span>
                                    <span class="d-inline-block width-85 vertical-align-top padding-10px-left">emailaddress@domain.com</span>
                                </li>
                                <li>
                                    <span class="d-inline-block vertical-align-top font-size18"><i class="fas fa-globe text-theme-color"></i></span>
                                    <span class="d-inline-block width-85 vertical-align-top padding-10px-left">www.yourwebsite.com</span>
                                </li>
                            </ul>
                            <div class="footer-social-icons small margin-15px-top">
                                <ul>
                                    <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 sm-margin-50px-bottom xs-margin-30px-bottom">
                        <div class="padding-30px-right sm-no-padding-right border-right xs-border-bottom sm-no-border-right border-color-light-white xs-padding-30px-bottom height-100">
                            <h3 class="footer-title-style7 text-white">Newsletter</h3>
                            <p class="margin-20px-bottom">Nemo enim enim voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
                            <form class="quform newsletter-form w-sm-90 mx-auto mx-lg-0" action="quform/newsletter-two.php" method="post" enctype="multipart/form-data" onclick="">

                                <div class="quform-elements">

                                    <div class="row">

                                        <!-- Begin Text input element -->
                                        <div class="col-md-12">
                                            <div class="quform-element">
                                                <div class="quform-input">
                                                    <input class="form-control" id="email_address" type="text" name="email_address" placeholder="Subscribe with us" />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Text input element -->
                                        <!-- Begin Submit button -->
                                        <div class="col-md-12">
                                            <div class="quform-submit-inner">
                                                <button class="btn btn-white text-theme-color m-0" type="submit"><i class="fas fa-paper-plane"></i></button>
                                            </div>
                                            <div class="quform-loading-wrap"><span class="quform-loading"></span></div>
                                        </div>
                                        <!-- End Submit button -->

                                    </div>

                                </div>

                            </form>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="height-100">
                            <h3 class="footer-title-style7 text-white">About Us</h3>
                            <p class="margin-20px-bottom">Nemo enim enim voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                            <p class="margin-20px-bottom">Nemo enim enim voluptatem quia sed quia consequuntur.</p>
                            <a href="#!" class="butn theme white-hover small"><span>Read More</span></a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="footer-bar bg-transparent border-top border-color-light-white position-relative z-index-1">
                <div class="container">
                    <p>
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script> Crizal is Powered by <a href="https://www.chitrakootweb.com/" target="_blank">9 Soft</a>
                    </p>
                </div>
            </div>
        </footer>
        <!-- end footer section -->

    </div>
    <!-- end main-wrapper section -->
    <!-- start switcher section -->
    <div id="style-switcher">
        <a href="#!" class="switcher-setting"><i class="fa fa-cog fa-spin"></i></a>

        <div class="layout-btn">
            <h2>Select Layout</h2>
            <ul>
                <li><a class="boxed" href="#!"><span>Boxed</span></a></li>
                <li><a class="wide" href="#!"><span>Wide</span></a></li>
            </ul>
        </div>

        <div class="pattren">

            <div class="pattren-wrap">
                <h2>Chose Pattren</h2>
                <ul class="bg-list">
                    <li>
                        <a href="#!" class="bg1"><img alt="" src="img/pattern/pattren1.jpg"></a>
                    </li>
                    <li>
                        <a href="#!" class="bg2"><img alt="" src="img/pattern/pattren2.jpg"></a>
                    </li>
                    <li>
                        <a href="#!" class="bg3"><img alt="" src="img/pattern/pattren3.jpg"></a>
                    </li>
                    <li>
                        <a href="#!" class="bg4"><img alt="" src="img/pattern/pattren4.jpg"></a>
                    </li>
                    <li>
                        <a href="#!" class="bg5"><img alt="" src="img/pattern/pattren5.jpg"></a>
                    </li>

                </ul>

            </div>
        </div>

        <div class="choose-color">
            <h2>Choose Color</h2>
            <ul class="colors" id="color1">
                <li>
                    <a href="#!" class="style1"></a>
                </li>
                <li>
                    <a href="#!" class="style2"></a>
                </li>
                <li>
                    <a href="#!" class="style3"></a>
                </li>
                <li>
                    <a href="#!" class="style4"></a>
                </li>
                <li>
                    <a href="#!" class="style5"></a>
                </li>
                <li>
                    <a href="#!" class="style6"></a>
                </li>
                <li>
                    <a href="#!" class="style7"></a>
                </li>
                <li>
                    <a href="#!" class="style8"></a>
                </li>
            </ul>
        </div>
        <a href="https://wrapbootstrap.com/theme/crizal-multipurpose-responsive-admin-WB02L08B3" target="_blank" class="butn theme btn-block"><span>Purchase Now</span></a>
    </div>
    <!-- end switcher section -->
    <!-- start scroll to top -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->
    <!-- all js include start -->
    <!-- jQuery -->
    <script src="~/js/core.min.js"></script>

    <!-- serch -->
    <script src="~/search/search.js"></script>

    <!-- revolution slider js files start -->
    <script src="~/js/rev_slider/jquery.themepunch.tools.min.js"></script>
    <script src="~/js/rev_slider/jquery.themepunch.revolution.min.js"></script>
    <script src="~/js/rev_slider/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/js/rev_slider/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/js/rev_slider/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/js/rev_slider/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/js/rev_slider/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/js/rev_slider/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/js/rev_slider/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/js/rev_slider/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/js/rev_slider/extensions/revolution.extension.video.min.js"></script>

    <!-- custom scripts -->
    <script src="~/js/main.js"></script>

    <!-- quform plugins js -->
    <script src="~/quform/js/plugins.js"></script>

    <!-- quform scripts js -->
    <script src="~/quform/js/scripts.js"></script>

    <!-- all js include end -->

</body>

</html>