.logo-box, .page-header .navbar-default, .scroll-to-top, .btn-info, .btn-primary, .btn-outline-primary:hover {
    background: #034daf;
}
.btn-info {
    border:0;
}
    .btn-info:hover, .btn-primary:hover {
        background: #034dafd9;
        border: 0;
    }
.page-sidebar-menu .has-sub > a.active, .page-sidebar-menu .has-sub > a.active, .page-sidebar-menu li.has-sub a.active i.accordion-icon, .page-sidebar-menu .has-sub a.active i {
    color: #000000;
}
.form-control:focus {
    border-color: #034dafd9;
    box-shadow: 0 0 0 0.2rem #034daf85;
}
.btn-outline-primary, .email-menu ul li.active a {
    color: #034daf;
    border-color: #034daf;
}
.email-menu ul li a {
    color: #797979;
}
.scroll-to-top :visited, .scroll-to-top :hover, .btn-primary {
    border: #fff
}
.scroll-to-top :visited, .scroll-to-top :hover, .breadcrumb-header {
    color: #034daf;
}

.page-sidebar-menu ul li.menu-divider {
    background: #797979;
}


.btn-info:not(:disabled):not(.disabled):active, .show > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #003275;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle, .btn-outline-primary:hover {
    color: #fff;
    background-color: #034daf;
    border-color: #034daf;
}
