
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- start page title section -->
<section class="page-title-section2 bg-img cover-background" data-overlay-dark="7" data-background="../img/bg/bg9.jpg">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1>About Us</h1>
            </div>
            <div class="col-md-12">
                <ul>
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>
        </div>

    </div>
</section>
<!-- end page title section -->
<!-- start about section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="padding-30px-right">

                    <h4 class="font-weight-600">About Crizal</h4>

                    <p class="margin-10px-bottom"><span class="font-weight-600">“Pride of the business for over a hundred years”</span> for public & private clients with finances saving economy.</p>
                    <p class="margin-30px-bottom sm-margin-25px-bottom xs-margin-20px-bottom">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    <div class="aboutus-text border-left margin-30px-bottom sm-margin-25px-bottom xs-margin-20px-bottom">
                        <i class="fas fa-quote-left padding-30px-left xs-padding-20px-left opacity2"></i>
                        <p class="padding-30px-left xs-padding-20px-left no-margin">Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
                        <span class="padding-30px-left xs-padding-20px-left text-theme-color">Militon Wiafer, CEO</span>
                    </div>
                    <p class="no-margin-bottom">Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 sm-display-none">
                <div class="bg-img cover-background box-shadow-primary h-100" data-overlay-dark="0" data-background="../img/content/about-04.jpg">
                </div>
            </div>

        </div>
    </div>
</section>
<!-- end about section -->
<!-- start counter section -->
<section class="parallax" data-overlay-dark="7" data-background="../img/bg/bg12.jpg">
    <div class="container">
        <div class="row">

            <div class="col-md-5 col-sm-12 xs-margin-20px-bottom">
                <div class="story-video">

                    <div class="text-center center-col absolute-middle-center z-index-1">
                        <a class="video video_btn" href="~/video/bg-video.mp4">
                            <i class="fas fa-play font-size18 xs-font-size16"></i>
                        </a>
                    </div>

                </div>
            </div>

            <div class="col-md-7 col-sm-12 col-12">

                <h4 class="text-white font-weight-600">Trusted business consultant to fulfill your dreams.</h4>

                <p class="font-size16 sm-font-size14 text-white line-height-30 sm-line-height-28 width-90 no-margin">pariatur aboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
                <div class="separator-line-horrizontal-full bg-white opacity2 margin-50px-tb md-margin-40px-tb sm-margin-30px-tb xs-margin-25px-tb"></div>

                <div class="row">
                    <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="counter-box text-left xs-text-center">

                            <h4 class="countup text-white display-block">1826</h4>
                            <div class="separator-line-horrizontal-medium-light3 bg-theme margin-15px-tb sm-margin-10px-tb xs-margin-10px-tb opacity5 xs-center-col"></div>
                            <p class="font-size24 sm-font-size20 xs-font-size18 font-weight-600 text-white no-margin">Visitors</p>
                        </div>
                    </div>
                    <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="counter-box text-left xs-text-center">
                            <h4 class="countup text-white display-block xs-text-center">875</h4>
                            <div class="separator-line-horrizontal-medium-light3 bg-theme margin-15px-tb sm-margin-10px-tb xs-margin-10px-tb opacity5 xs-center-col"></div>
                            <p class="font-size24 sm-font-size20 xs-font-size18 font-weight-600 text-white no-margin">Clients</p>
                        </div>
                    </div>
                    <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="counter-box text-left xs-text-center">
                            <h4 class="countup text-white display-block xs-text-center">1412</h4>
                            <div class="separator-line-horrizontal-medium-light3 bg-theme margin-15px-tb sm-margin-10px-tb xs-margin-10px-tb opacity5 xs-center-col"></div>
                            <p class="font-size24 sm-font-size20 xs-font-size18 font-weight-600 text-white no-margin">Awards</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!-- end counter section -->
<!-- start what we do section -->
<section>
    <div class="container">
        <div class="section-heading">
            <h3>What We Do</h3>
        </div>
        <div class="row feature-boxes-container">

            <div class="col-lg-4 col-md-12 sm-margin-20px-bottom feature-box-04">
                <div class="feature-box-inner h-100">
                    <i class="icon-layers font-size50 md-font-size46 sm-font-size40 xs-font-size38"></i>
                    <h4 class="font-size15 xs-font-size14 margin-10px-top xs-margin-8px-top text-uppercase font-weight-600 text-black">Business Services</h4>
                    <div class="sepratar"></div>
                    <p>Exhaustive technology of implementing multi purpose projects is putting your project successful.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 sm-margin-20px-bottom feature-box-04">
                <div class="feature-box-inner h-100">
                    <i class="icon-genius font-size50 md-font-size46 sm-font-size40 xs-font-size38"></i>
                    <h4 class="font-size15 xs-font-size14 margin-10px-top xs-margin-8px-top text-uppercase font-weight-600 text-black">Saving Investments</h4>
                    <div class="sepratar"></div>
                    <p>Exhaustive technology of implementing multi purpose projects is putting your project successful.</p>
                </div>

            </div>

            <div class="col-lg-4 col-md-12 feature-box-04">
                <div class="feature-box-inner h-100">
                    <i class="icon-hotairballoon font-size50 md-font-size46 sm-font-size40 xs-font-size38"></i>
                    <h4 class="font-size15 xs-font-size14 margin-10px-top xs-margin-8px-top text-uppercase font-weight-600 text-black">Online Consulting</h4>
                    <div class="sepratar"></div>
                    <p>Exhaustive technology of implementing multi purpose projects is putting your project successful.</p>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- end what we do section -->
<!-- start team section -->
<section class="bg-light-gray">
    <div class="container">

        <div class="section-heading">
            <h3>Our Team</h3>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 xs-margin-20px-bottom mobile-margin-15px-bottom">
                <div class="team-members">
                    <div class="team-members-img"><img alt="img" src="~/img/team/team-01.jpg"></div>
                    <div class="team-members-text">
                        <h4><a href="#!">Jamara Karle</a></h4><span>Founder</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 xs-margin-20px-bottom mobile-margin-15px-bottom">
                <div class="team-members">
                    <div class="team-members-img">
                        <img alt="img" src="~/img/team/team-02.jpg">
                    </div>
                    <div class="team-members-text">
                        <h4><a href="#!">Keir Prestonly</a></h4><span>Co-Founder</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 mobile-margin-15px-bottom">
                <div class="team-members">
                    <div class="team-members-img"><img alt="img" src="~/img/team/team-03.jpg"></div>
                    <div class="team-members-text">
                        <h4><a href="#!">Finley Walkeror</a></h4><span>Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <div class="team-members">
                    <div class="team-members-img"><img alt="img" src="~/img/team/team-04.jpg"></div>
                    <div class="team-members-text">
                        <h4><a href="#!">Lenethi  Miloler</a></h4><span>Designer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end team section -->
