@model WebAppSastiServices.Models.DB.STPProductItem
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ACInvItems</title>
</head>
<body>
    <div class="col-md-6">
        <div class="card card-white">
            <div class="card-heading clearfix">
                <h4 class="card-title">Add Items</h4>
            </div>
            <div class="card-body">

                <div>
                    <div class="row">
                        <div class="col-12" id="AddItem">


                            @using (Html.BeginForm("ACInvService", "VendorDashboard", FormMethod.Post))
                            {


                                <div class="form-group row">
                                    @Html.LabelFor(model => model.ProductName, "Product Name", htmlAttributes: new { @class = "col-sm-5 col-form-label" })
                                    <div class="col-sm-7">
                                        @Html.DropDownList("ProductName", (SelectList)ViewBag.Products, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                                    </div>


                                    @*<label class="col-sm-5 col-form-label">Item Name</label>
                                    <div class="col-sm-7">
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>*@
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label">Item No</label>
                                    <div class="col-sm-7">
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label">Qty</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label">Rate</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <button class="btn btn-outline-primary float-right" type="submit">Add</button>


                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
