
@{
    ViewBag.Title = "Email";
    Layout = "~/Views/Shared/_LayoutDashboardGeneratorsVendor.cshtml";
}
<!-- start page inner -->
<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">Email</h3>
    </div>
    <!-- start page main wrapper -->
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group email-search">
                    <input type="text" class="form-control" placeholder="Search for an email">
                    <span class="input-group-prepend last">
                        <button class="btn btn-primary" type="button">Search</button>
                    </span>
                </div>
            </div>
        </div>
        <!-- Row -->
        <div class="cross-page-line"></div>
        <div class="row">
            <div class="col-md-2">
                <div class="email-actions">
                    <a href="#" class="btn btn-primary compose">Compose</a>
                </div>
                <div class="email-menu">
                    <ul class="list-unstyled">
                        <li class="active"><a href="#"><i class="icon-inbox"></i><span>Inbox</span></a></li>
                        <li><a href="#"><i class="icon-send"></i><span>Sent</span></a></li>
                        <li><a href="#"><i class="icon-mail_outline"></i><span>Drafts</span></a></li>
                        <li><a href="#"><i class="icon-error"></i><span>Spam</span></a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="icon-delete"></i><span>Trash</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="email-list">
                    <ul class="list-unstyled">
                        <li class="active">
                            <a href="#">
                                <div class="email-list-item">
                                    <div class="email-author">
                                        <img src="~/img/Dashboard/email/1.jpg" alt="">
                                        <span class="author-name">Jamara Karle</span>
                                        <span class="email-date">8m ago</span>
                                    </div>
                                    <div class="email-info">
                                        <span class="email-subject">
                                            Eque porro quisquam est, qui dolorem ipsum quia posuere eget
                                        </span>
                                        <span class="email-text">
                                            Tempora incidunt ut labore et dolore magnam aliquam quaerat
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="email-list-item">
                                    <div class="email-author">
                                        <img src="~/img/Dashboard/email/2.jpg" alt="">
                                        <span class="author-name">Keir Prestonly</span>
                                        <span class="email-date">5:55pm</span>
                                    </div>
                                    <div class="email-info">
                                        <span class="email-subject">
                                            Mollit anim id est laborum perspiciatis unde
                                        </span>
                                        <span class="email-text">
                                            Voluptate velit esse cillum dolore eu fugiat nulla
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="email-list-item">
                                    <div class="email-author">
                                        <img src="~/img/Dashboard/email/3.jpg" alt="">
                                        <span class="author-name">Finley Walkeror</span>
                                        <span class="email-date">12 Mar 2019</span>
                                    </div>
                                    <div class="email-info">
                                        <span class="email-subject">
                                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur
                                        </span>
                                        <span class="email-text">
                                            Reprehenderit in voluptate velit esse cillum
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="email-list-item">
                                    <div class="email-author">
                                        <img src="~/img/Dashboard/email/4.jpg" alt="">
                                        <span class="author-name">Stepha Kruse</span>
                                        <span class="email-date">10 Mar 2019</span>
                                    </div>
                                    <div class="email-info">
                                        <span class="email-subject">
                                            Duis aute irure dolor in reprehenderit in volu
                                        </span>
                                        <span class="email-text">
                                            Fugiat nulla pariatur excepteur sint occaecat
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="email-list-item">
                                    <div class="email-author">
                                        <img src="~/img/Dashboard/email/5.jpg" alt="">
                                        <span class="author-name">Alivin Corondo</span>
                                        <span class="email-date">08 Mar 2019</span>
                                    </div>
                                    <div class="email-info">
                                        <span class="email-subject">
                                            Tempora incidunt ut labore et dolore magnam aliquam
                                        </span>
                                        <span class="email-text">
                                            Magni dolores eos qui ratione voluptatem sequi nesciunt
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="email-list-item">
                                    <div class="email-author">
                                        <img src="~/img/Dashboard/email/6.jpg" alt="">
                                        <span class="author-name">Dunican keithly</span>
                                        <span class="email-date">07 Mar 2019</span>
                                    </div>
                                    <div class="email-info">
                                        <span class="email-subject">
                                            Officia deserunt mollit anim id est laborum
                                        </span>
                                        <span class="email-text">
                                            Exercitation ullamco laboris nisi ut aliquip
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7">
                <div class="email-actions">
                    <a href="#" class="btn btn-primary"><i class="fas fa-reply"></i> Reply</a>
                    <a href="#" class="btn btn-secondary"><i class="fas fa-forward"></i> Forward</a>
                    <a href="#" class="btn btn-success"><i class="fas fa-check-double"></i> Mark as read</a>
                    <a href="#" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</a>
                </div>
                <div class="email">
                    <div class="email-header">
                        <div class="email-title">
                            <p>Eque porro quisquam est, qui dolorem ipsum quia posuere eget</p>
                        </div>
                        <span class="divider"></span>
                        <div class="email-author">
                            <img src="~/img/Dashboard/email/1.jpg" alt="">
                            <span class="author-name">Jamara.karle@test.com</span>
                            <span class="email-date">4:14pm</span>
                        </div>
                        <span class="divider"></span>
                    </div>
                    <div class="email-body">
                        <span>
                            Dear Sir/Madam,<br><br>
                            Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.<br><br>
                            Waiting your reply ASAP,<br>
                            Thanks in advance.
                        </span>
                    </div>
                    <div class="email-reply">
                        <div class="summernote"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->
    </div>
    <!-- end page main wrapper -->
    <div class="page-footer">
        <p>Copyright &copy;
        <script>document.write(new Date().getFullYear())</script> Crizal All rights reserved.</p>
    </div>
</div>
<!-- end page inner -->
