
@{
    ViewBag.Title = "EditServices";
    Layout = "~/Views/Shared/_LayoutDashboardGeneratorsVendor.cshtml";
}

<!-- start page inner -->
    <div class="page-inner">
        <div class="page-title">
            <h3 class="breadcrumb-header">Edit Service</h3>
        </div>
        <!-- start page main wrapper -->
        <div id="main-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-white">
                        <div class="card-body">

                            <div id="rootwizard">
                                <div class="progress progress-sm m-t-sm">
                                    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                    </div>
                                </div>
                                <form>
                                    <div>
                                        <div class=" fade show active" id="home3">
                                            <div class="row m-b-lg">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label for="ServiceName">Service Name</label>
                                                            <input type="text" class="form-control" name="ServiceName" id="ServiceName" placeholder="Service Name">
                                                        </div>
                                                        <div class="form-group col-md-6 form-row">
                                                            <label for="ItemsName" class="col-12">Items Name</label>
                                                                <a class="btn btn-primary col-2" href="#" role="button"><i class="fa fa-plus"></i></a>
                                                                <select class="form-control col-8" id="ItemsName">
                                                                    <option>Oil Filter</option>
                                                                    <option>Gas Filter</option>
                                                                    <option>Engine oil</option>
                                                                </select>
                                                                <a class="btn btn-primary col-2" href="#" role="button"><i class="fa fa-minus"></i></a>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="FuelType">Fuel type</label>
                                                            <select class="form-control" id="FuelType">
                                                                <option>Petrol</option>
                                                                <option>Gas</option>
                                                                <option>Diesal</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="Power">Power</label>
                                                            <select class="form-control" id="Power">
                                                                <option>Range   - unit</option>
                                                                <option>Range   - unit</option>
                                                                <option>Range   - unit</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label for="Rate">Service Rate</label>
                                                            <input type="number" class="form-control" name="Rate" id="Rate" placeholder="Service Rate">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="pagination wizard">
                                            <li class="previous"><a href="#" class="btn btn-outline-primary">Previous</a></li>
                                            <li class="next ml-auto"><a href="#" class="btn btn-outline-primary">Add</a></li>
                                        </ul>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Row -->
        </div>
        <!-- end page main wrapper -->
        <div class="page-footer">
            <p>
                Copyright &copy;
                <script>document.write(new Date().getFullYear())</script> Crizal All rights reserved.
            </p>
        </div>
    </div>
<!-- end page inner -->
