
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutDashboardAuthentication.cshtml";
}

    <div id="main-wrapper" class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 login-box lock-screen">
                <p>
                    <img src="~/img/Dashboard/avatars/lockscreen.jpg" alt=""><span>Keir Prestonly</span>
                </p>
                <div class="form-group">
                    <div class="input-group">
                        <input type="password" class="form-control" placeholder="Password">
                        <span class="input-group-prepend last">
                            <a class="btn btn-primary" href="index.html"><i class="fa fa-angle-right"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>