
@{
    ViewBag.Title = "ViewServices";
    Layout = "~/Views/Shared/_LayoutDashboardUPSVendor.cshtml";
}



<!-- start page inner -->
<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">Services</h3>
    </div>
    <!-- start page main wrapper -->
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-white">
                    <div class="card-body">
                        <div class="table-responsive invoice-table">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#Order</th>
                                        <th>Status</th>
                                        <th>Client Name</th>
                                        <th>Client Contact</th>
                                        <th>Client Address</th>
                                        <th>Detail</th> @*client problem Description*@
                                        <th>Service Type</th>
                                        <th>Power Range</th>
                                        <th>Preferred Date</th>
                                        <th>Preferred Time</th>
                                        <th>CreatedDateTime</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">#1236</th>
                                        <td><span class="label label-success">Finished</span></td>
                                        <td><img src="img/email/1.jpg" alt="" class="rounded-circle mr-3">Jamara Karle</td>
                                        <td>jamara@gmail.com</td>
                                        <td>Jan 1, 2019</td>
                                        <td>$6543</td>
                                        <td>Poland</td>
                                        <td>Poland</td>
                                        <td>Poland</td>
                                        <td>Poland</td>
                                        <td>Poland</td>
                                        <td><a href="#" class="btn btn-secondary"><i class="fas fa-forward"></i> Assign to Employee</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">#1236</th>
                                        <td><span class="label label-success">Finished</span></td>
                                        <td><img src="img/email/1.jpg" alt="" class="rounded-circle mr-3">Jamara Karle</td>
                                        <td>jamara@gmail.com</td>
                                        <td>Jan 1, 2019</td>
                                        <td>$6543</td>
                                        <td>Poland</td>
                                        <td>Poland</td>
                                        <td>Poland</td>
                                        <td>Poland</td>
                                        <td>Poland</td>
                                        <td><a href="#" class="btn btn-secondary"><i class="fas fa-forward"></i> Assign to Employee</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">#1236</th>
                                        <td><span class="label label-success">Finished</span></td>
                                        <td><img src="img/email/1.jpg" alt="" class="rounded-circle mr-3">Jamara Karle</td>
                                        <td>jamara@gmail.com</td>
                                        <td>Jan 1, 2019</td>
                                        <td>$6543</td>
                                        <td>Poland</td>
                                        <td>Poland</td>
                                        <td>Poland</td>
                                        <td>Poland</td>
                                        <td>Poland</td>
                                        <td><a href="#" class="btn btn-secondary"><i class="fas fa-forward"></i> Assign to Employee</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">#1236</th>
                                        <td><span class="label label-success">Finished</span></td>
                                        <td><img src="img/email/1.jpg" alt="" class="rounded-circle mr-3">Jamara Karle</td>
                                        <td>jamara@gmail.com</td>
                                        <td>Jan 1, 2019</td>
                                        <td>$6543</td>
                                        <td>Poland</td>
                                        <td>Poland</td>
                                        <td>Poland</td>
                                        <td>Poland</td>
                                        <td>Poland</td>
                                        <td><a href="#" class="btn btn-secondary"><i class="fas fa-forward"></i> Assign to Employee</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">#1236</th>
                                        <td><span class="label label-success">Finished</span></td>
                                        <td><img src="img/email/1.jpg" alt="" class="rounded-circle mr-3">Jamara Karle</td>
                                        <td>jamara@gmail.com</td>
                                        <td>Jan 1, 2019</td>
                                        <td>$6543</td>
                                        <td>Poland</td>
                                        <td>Poland</td>
                                        <td>Poland</td>
                                        <td>Poland</td>
                                        <td>Poland</td>
                                        <td><a href="#" class="btn btn-secondary"><i class="fas fa-forward"></i> Assign to Employee</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">#1236</th>
                                        <td><span class="label label-success">Finished</span></td>
                                        <td><img src="img/email/1.jpg" alt="" class="rounded-circle mr-3">Jamara Karle</td>
                                        <td>jamara@gmail.com</td>
                                        <td>Jan 1, 2019</td>
                                        <td>$6543</td>
                                        <td>Poland</td>
                                        <td>Poland</td>
                                        <td>Poland</td>
                                        <td>Poland</td>
                                        <td>Poland</td>
                                        <td><a href="#" class="btn btn-secondary"><i class="fas fa-forward"></i> Assign to Employee</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Row -->
    </div>
    <!-- end page main wrapper -->
    <div class="page-footer">
        <p>
            Copyright &copy;
            <script>document.write(new Date().getFullYear())</script> Crizal All rights reserved.
        </p>
    </div>
</div>
<!-- end page inner -->
