
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- start page title section -->
<section class="page-title-section2 bg-img cover-background" data-overlay-dark="7" data-background="../img/bg/bg9.jpg">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1>Contact</h1>
            </div>
            <div class="col-md-12">
                <ul>
                    <li><a href="@Url.Action("ContactUs", "Home")">Home</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>

    </div>
</section>
<!-- end page title section -->
<!-- start contact section -->
<section>
    <div class="container">
        <div class="section-heading">
            <h3>Get In Touch Now</h3>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 sm-margin-30px-bottom">

                <!-- start form here -->

                <form class="quform" action="quform/getin-touch-one.php" method="post" enctype="multipart/form-data" onclick="">

                    <div class="quform-elements">

                        <div class="row">

                            <!-- Begin Text input element -->
                            <div class="col-md-6">
                                <div class="quform-element form-group">
                                    <div class="quform-input">
                                        <input id="name" type="text" name="name" placeholder="Your name here" />
                                    </div>
                                </div>

                            </div>
                            <!-- End Text input element -->
                            <!-- Begin Text input element -->
                            <div class="col-md-6">
                                <div class="quform-element form-group">
                                    <div class="quform-input">
                                        <input id="email" type="text" name="email" placeholder="Your email here" />
                                    </div>
                                </div>
                            </div>
                            <!-- End Text input element -->
                            <!-- Begin Text input element -->
                            <div class="col-md-6">
                                <div class="quform-element form-group">
                                    <div class="quform-input">
                                        <input id="subject" type="text" name="subject" placeholder="Your subject here" />
                                    </div>
                                </div>

                            </div>
                            <!-- End Text input element -->
                            <!-- Begin Text input element -->
                            <div class="col-md-6">
                                <div class="quform-element form-group">
                                    <div class="quform-input">
                                        <input id="phone" type="text" name="phone" placeholder="Your phone number" />
                                    </div>
                                </div>

                            </div>
                            <!-- End Text input element -->
                            <!-- Begin Textarea element -->
                            <div class="col-md-12">
                                <div class="quform-element form-group">
                                    <div class="quform-input">
                                        <textarea id="message" name="message" rows="3" placeholder="Tell us a few words"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- End Textarea element -->
                            <!-- Begin Captcha element -->
                            <div class="col-md-12">
                                <div class="quform-element">
                                    <div class="form-group">
                                        <div class="quform-input">
                                            <input id="type_the_word" type="text" name="type_the_word" placeholder="Type the below word" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="quform-captcha">
                                            <div class="quform-captcha-inner">
                                                <img src="~/quform/images/captcha/courier-new-light.png" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Captcha element -->
                            <!-- Begin Submit button -->
                            <div class="col-md-12">
                                <div class="quform-submit-inner">
                                    <button class="butn" type="submit"><span>Submit comment</span></button>
                                </div>
                                <div class="quform-loading-wrap text-left"><span class="quform-loading"></span></div>
                            </div>
                            <!-- End Submit button -->

                        </div>

                    </div>

                </form>

                <!-- end form here -->

            </div>
            <div class="col-lg-6 col-md-12">
                <div id="accordion" class="accordion-style3">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    How can i purchase this item ?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body bg-white">
                                Tempora incidunt ut labore et dolore exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                                sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    why unique and creative design ?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body bg-white">
                                Neque porro quisquam est quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                                sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    are you ready to buy this theme ?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body bg-white no-padding-bottom">
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                                sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end contact section -->
<!-- start map section -->
<iframe class="contact-map" id="gmap_canvas" src="https://maps.google.com/maps?q=london&t=&z=13&ie=UTF8&iwloc=&output=embed" scrolling="no" marginheight="0" marginwidth="0"></iframe>
<!-- end map section -->
